<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <!-- TODO link to external CSS -->
    <link rel="stylesheet">
</head>
<body>
<div class="container">
    <!-- TODO display a custom heading here -->
    <h1>Book Details</h1>
    <div class="book-details">
        <!-- TODO display book title -->
        <p><strong>Title:</strong> <span></span></p>
        <!-- TODO display book author -->
        <p><strong>Author:</strong> <span></span></p>
        <!-- TODO display book release date -->
        <p><strong>Release Date:</strong> <span></span></p>
        <!-- TODO display book blurb-->
        <p><strong>Blurb:</strong> <span></span></p>
    </div>
    <a href="/books" class="back-link">Back to Book List</a>
</div>
</body>
</html>
