<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <!-- TODO link to external CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Book List</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Release Date</th>
            <th>Blurb</th>
        </tr>
        </thead>
        <tbody>
        <!-- TODO iterate over the books here -->
        <tr th:each="book : ${books}">
            <td>
                <!-- TODO display the book title here -->
                <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}" class="book-link">Title</a>
            </td>
            <!-- TODO display the book author here -->
            <td th:text="${book.author}">Author</td>
            <!-- TODO display the book release date here -->
            <td th:text="${book.releaseDate}">Release Date</td>
            <!-- TODO display the book blurb here -->
            <td th:text="${book.blurb}">Blurb</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
